<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>On chain</title>
</head>
<body>

<header class="navbar">
  <div class="logo">FreeCoinBase</div>
  <nav>
    <a href="/cryptos">База</a>
    <a href="/za-nas">За Нас</a>
    <a href="/grafici">Графици</a>
               <a href="/lstm">LSTM анализа </a>
                      <a href="/analysis-view">Стратегиска анализа </a>

 <a href="/"><img src="/static/img/home-icon.png" alt="Home" class="home-icon">Почетна</a>

  </nav>
</header>



<footer>
  <div class="footer-logo">FreeCoinBase</div>
  <div class="footer-links">
    <a href="/">Почетна</a>
    <a href="/cryptos">База</a>
    <a href="/grafici">Графици</a>
    <a href="/za-nas">За Нас</a>
            <a href="/lstm">LSTM анализа </a>
                      <a href="/analysis-view">Стратегиска анализа </a>


  </div>
  <p style="margin-top: 1rem; font-size: 0.9rem; color: #555;">
    © 2025 FreeCoinBase — All rights reserved.
  </p>
</footer>

</body>
</html>
