# IDE
.idea/
.vscode/

# Python cache
__pycache__/
*.pyc

# OS files
.DS_Store
Thumbs.db

# Ignore all databases
*.db

# Allow ONLY the one used in production
!domashna3/crypto.db



.idea/
*.iml
__pycache__/
