__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv
pip-log.txt
pip-delete-this-directory.txt
.git/
.gitignore
.idea/
.vscode/
*.md
README.md
.DS_Store
*.log
.pytest_cache/
.coverage
htmlcov/
dist/
build/
*.egg-info/
videa/
domashna1/
domashna2/

